<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome <%= @user.name %>,<br></h3>
    <p>
      You have successfully signed up for Stock Tracker with the email <%= @user.email %>
    </p>
    <p>
      Start tracking stocks and add it to your portfolio here: <%= @url %>
    </p>
    <p>Regards <br>Stock Tracker Team!</p>
  </body>
</html>