<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Stocks App" src="https://img.icons8.com/fluency/48/000000/stocks-growth.png"/>
        </a>
      </div>
    </div>
  </nav>
</div>